<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.research">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Research">
        <activity android:name=".NotesActivity" android:label="@string/add_notes" ></activity>
        <activity android:name=".AddNewProject" android:label="@string/add_project" android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SourceDetails"
            android:label="@string/details_name"
            android:parentActivityName=".Source" />
        <activity
            android:name=".ProjectDetails"
            android:label="@string/details_name"

            android:parentActivityName=".Project" />
        <activity
            android:name=".AddNewSource"
            android:label="@string/new_source"
            android:parentActivityName=".Project" />
        <activity
            android:name=".Source"
            android:label="No Name"
            android:launchMode="singleTop"
            android:parentActivityName=".Project" />
        <activity
            android:name=".Project"
            android:launchMode="singleTop"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>